<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<main>
    <article>
        <form th:action="@{/people/new}" method="post" th:object="${person}">
            <label for="name">Person name</label>
            <input th:field="*{name}" type="text" id="name">
            <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <br>
            <label for="birthday">Birthday</label>
            <input th:field="*{birthday}" type="date" id="birthday" required>
            <br>
            <button type="submit">Create new person</button>
        </form>
    </article>
</main>
</body>
</html>